.navItem a::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #fcfcfc;
  transition: width 300ms;
}

.navItem:hover a::after {
  width: 100%;
}

.header {
  animation: show 300ms ease-in-out;
}

@keyframes show {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
